@import url('https://fonts.googleapis.com/css?family=Petrona:700|Petrona:400');
@import 'tailwindcss';

@theme {
	--color-text: #160416;
	--color-background: #fcd3ff;
	--color-primary: #cf2ddb;
	--color-secondary: #eb87b5;
	--color-accent: #e25480;
  --font-sans: "Petrona", sans-serif;
}
